.red{
    color: red;
    font-size: 24px;
    border-bottom: solid 4px #8c55a9;}

body {
  background: linear-gradient(215deg, #ff6b81,#fff0f6,#ff9ec4)
}
li{border-left: solid 2px #cc0000;
   padding-left: 15px;}
.k{font-weight: bold}
